<div class="header-admin">

    <div class="nav-container">

        <div class="info-nav">
            <span class="p-1">
                <i class="fas fa-question-circle p-1"></i> Ayuda
            </span>
    
            <span class="p-1">
                <i class="fas fa-envelope p-1"></i> Soporte
            </span>

            <span class="wasat">
                <i class="fab fa-whatsapp p-1"></i> Soporte vía whatsapp: 60683845 
            </span>
        </div>
        

        <div class="container-drop p-2">

    
            <div class="line name">
                Andrey
            </div>
            <div class="line circle text-center">
                <span class="span-circle">A</span>
            </div>
        </div>
    </div>

    

</div>