<br>
<div class="foo-body">
    <div class="row p-3">
        <div class="col-md-3">
            <br>
            <div class="footxtittle">
                <ul>
                    <li>
                        ACERCA DE LA TIENDA
                    </li>
                </ul>
                
            </div>
            <ul>
                <li class="footxt p-1">
                    La historia de la tienda
                </li>
                <li class="footxt p-1">
                    Contáctenos
                </li>
                <li class="footxt p-1">
                    Política de Privacidad
                </li>
                <li class="footxt p-1">
                    Términos de Uso
                </li>
                <li class="footxt p-1">
                    Política de propiedad intelectual
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <br>
            <div class="footxtittle">
                <ul>
                    <li>
                        ATENCIÓN AL CLIENTE
                    </li>
                </ul>
            </div>
            <ul>
                <li class="footxt p-1">
                    FAQ Compras
                </li>
                <li class="footxt p-1">
                    Guía de Tallas y Tamaños
                </li>
                <li class="footxt p-1">
                    Información de Envío
                </li>
                <li class="footxt p-1">
                    Devoluciones
                </li>
                <li class="footxt p-1">
                    Cupones de zaful
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <br>
            <div class="footxtittle">
                <ul>
                    <li>
                        MÁS SOBRE LA TIENDA
                    </li>
                </ul>
            </div>
            <ul>
                <li class="footxt p-1">
                    Política de Cookies
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <br>
            <div class="footxtittle">
                <ul>
                    <li>
                        Acerca de la tienda
                    </li>
                </ul>
            </div>
            <ul>
                <li class="footxt p-1">
                    SÍGUENOS EN MEDIOS SOCIALES
                </li>
            </ul>
            <ul>
                <li class="social-li p-1">
                    <i class="fab fa-facebook-f fb"></i>
                </li>
                <li class="social-li p-1">
                    <i class="fab fa-twitter tw"></i>
                </li>
                <li class="social-li p-1">
                    <i class="fab fa-instagram ins"></i>
                </li>
                <li class="social-li p-1">
                    <i class="fab fa-youtube yt"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
